.graph_styling {
  width: 100%;
  height: 500px;
  margin: 0;
  padding: 0;
  float: left;
}



/*add parallax scrolling*/
.paral{
	min-height: 800px;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
}

/*

.paral p{
	font-size: 18px;
	color:#A9A9A9;
	text-align: center;
	line-height: 30px;
}

.paral h1 {
	color: rgba(64, 64, 64, 0.8);
	font-size: 60px;
	text-align: center;
	padding-top: 60px;
	line-height: 100px;
}

.paral h2 {
	color: rgba(64, 64, 64, 0.8);
	font-size: 50px;
	text-align: center;
	padding-top: 40px;
	line-height: 80px;
}

*/

.paral h3 {
	color: rgba(15, 15, 15, 1);
	font-size: 40px;
	text-align: center;
	padding-top: 40px;
	line-height: 70px;
}

.paral img {
	width:100%;
	height:100%;
}

.hero-header {
	
}

.hero-image {
	background-image: linear-gradient( rgba(0, 0, 0, .25), rgba(0, 0, 0, 0.0) ), url("https://raw.githubusercontent.com/jschmidtnj/basketballwebsiteMGT/master/docs/assets/hero-image.png");
}

.about-section{
	
}

.about-image{
	background: rgba(255,255,255,1);
}

.people-section{

}

.people-image{
	background: rgba(255,255,255,1);
}

.divider-section{
	background: rgba(64, 64, 64, 0.8);
}

.main{
	
}

.main-image{
	background: rgba(255,255,255,1);
}

.logistics-section{
	background: rgba(255,255,255,1);
}

.connect-section{
	margin-bottom: 0;
}

/*remove bottom margin from Jumbotron*/
.jumbotron{
	margin-bottom: 0;
	border-radius: 0px;
}

.navbar{
	background:rgba(255,255,255,1);
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 2rem;
}

footer{

}
